body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: hsl(209, 61%, 16%);

}

.css-l086p4-MuiImageListItem-root .MuiImageListItem-img {
  object-fit: cover;
  width: 500px;
  height: 300px;
  display: block;
}

.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  height: 250px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  margin: 10px 10px 10px 10px;

  height: 20rem;
}

img,
svg {
  border-radius: 10px;
  vertical-align: middle;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

h6 {
  color: #000000
}

p {
  margin-bottom: 1.25rem;
  color: hsl(0deg 0% 0%);
  ;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {

    width: 95vw;
  }
}

.menu {
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: #FFEE18;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  margin-top: -20px;
  display: block;
  

}


.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0rem;
  letter-spacing: 1px;
  padding: 0rem 0rem;
  color: rgba(24, 22, 22, 0);
  cursor: pointer;
  border-radius: 0.25rem;
}

.active {
  border-bottom: 2px solid;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;


}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;

}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid rgb(255, 248, 107);
  border-radius: 0.25rem;
  display: block;
}

.logo {
  object-fit: cover;
  height: auto;
  width: 200px;
  border-radius: 0.25rem;
  margin-top: -50px;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted hsl(210, 22%, 49%);

}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: #c59d5f;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}


@media screen and (min-width: 768px) {
  .menu-item {

    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }

  .photo {
    height: 175px;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {

    width: 95vw;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
  }

  .photo {
    height: 150px;
  }
}

:root {
  /* --bs-link-color: #0d6efd; */
  --bs-link-hover-color: #ffffff;
  --bs-link-color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

.sc-dnqmqq bVoXXg {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.text-yellow {

  color: #dfd38bee;
  font-weight: bold;




}

.btn-primary {
  color: #fff;
  background-color: #e4ce4fee !important;
  border-radius: 10px;
  height: 40px;
  margin-left: 20px;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  font-size: x-large;
}

element.style {
  margin-top: -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}
.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: yellow;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
  }
  /* Home */
  .home-container {
  padding: 2rem 4rem;
  }
  .home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  }
  .products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  }
  .product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  width: 250px;
  max-width: 100%;
  height: 400px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
2px 2px 5px rgba(94, 104, 121, 0.3);
}
.product h3 {
font-size: 25px;
font-weight: 400;
}
.product img {
width: 80%;
margin-top: 1rem;
margin-left: auto;
margin-right: auto;
}
.product .details {
display: flex;
justify-content: space-between;
align-items: center;
}
.product .details .price {
font-size: 20px;
font-weight: 700;
}
.product button {
width: 100%;
height: 40px;
border-radius: 5px;
margin-top: 2rem;
font-weight: 400;
letter-spacing: 1.15px;
background-color: #4b70e2;
color: #f9f9f9;
border: none;
outline: none;
cursor: pointer;
}
/* Cart */
.cart-container {
padding: 2rem 4rem;
}
.cart-container h2 {
font-weight: 400;
font-size: 30px;
text-align: center;
}
.cart-container .titles {
margin: 2rem 0 1rem 0;
}
.cart-container .titles h3 {
  font-size: 14px;
font-weight: 400;
text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
display: grid;
align-items: center;
grid-template-columns: 3fr 1fr 1fr 1fr;
column-gap: 0.5rem;
}
.cart-item {
border-top: 1px solid rgb(187, 187, 187);
padding: 1rem 0;
}
.cart-container .titles .product-title {
padding-left: 0.5rem;
}
.cart-container .titles .total {
padding-right: 0.5rem;
justify-self: right;
}
.cart-item .cart-product {
display: flex;
}
.cart-item .cart-product img {
width: 100px;
max-width: 100%;
margin-right: 1rem;
}
.cart-item .cart-product h3 {
font-weight: 400;
}
.cart-item .cart-product button {
border: none;
outline: none;
margin-top: 0.7rem;
cursor: pointer;
background: none;
color: gray;
}
.cart-item .cart-product button:hover {
color: black;
}
.cart-item .cart-product-quantity {
display: flex;
align-items: flex-start;
justify-content: center;
width: 130px;
max-width: 100%;
border: 0.5px solid rgb(177, 177, 177);
border-radius: 5px;
}
.cart-item .cart-product-quantity button {
border: none;
outline: none;
background: none;
padding: 0.7rem 1.5rem;
cursor: pointer;
}
.cart-item .cart-product-quantity .count {
padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
padding-right: 0.5rem;
justify-self: right;
font-weight: 700;
}
/* cart summary */
.cart-summary {
display: flex;
justify-content: space-between;
align-items: flex-start;
border-top: 1px solid rgb(187, 187, 187);
padding-top: 2rem;
}
.cart-summary .clear-btn {
width: 130px;
height: 40px;
border-radius: 5px;
font-weight: 400;
letter-spacing: 1.15px;
border: 0.5px solid rgb(177, 177, 177);
color: gray;
background: none;
outline: none;
cursor: pointer;
}
.cart-checkout {
width: 270px;
max-width: 100%;
}
.cart-checkout .subtotal {
display: flex;
justify-content: space-between;
font-size: 20px;
}
.cart-checkout .amount {
font-weight: 700;
}
.cart-checkout p {
font-size: 14px;
font-weight: 200;
margin: 0.5rem 0;
}
.cart-checkout button {
width: 100%;
height: 40px;
border-radius: 5px;
font-weight: 400;
letter-spacing: 1.15px;
background-color: #4b70e2;
color: #f9f9f9;
border: none;
outline: none;
cursor: pointer;
}
.continue-shopping,
.start-shopping {
margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
color: gray;
text-decoration: none;
display: flex;
align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
margin-left: 0.5rem;
}
.cart-empty {
font-size: 20px;
margin-top: 2rem;
color: rgb(84, 84, 84);
display: flex;
flex-direction: column;
align-items: center;
}

.modal-body {
  align-items: center;
  flex: auto;
  
}